:root {
  /* Light */
  --bg-body-light: #fff;
  --clr-light: #2b283a;

  --clr-select-light: #111827;

  --bg-btn-light: #ffffff;
  --clr-btn-light: #374151;

  --border-light: #d1d5db;

  /* Dark */
  --bg-dark: #1f2937;
  --clr-dark: #d5d4d8;

  --bg-select-dark: #1f2937;
  --clr-select-dark: #d5d4d8;

  --bg-btn-dark: #3d4b60;
  --clr-btn-dark: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  position: relative;
  background-color: var(--bg-body-light);
  color: var(--clr-light);
}

header {
  background-color: var(--clr-bg-body-light);
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

button,
input[type="color"] {
  cursor: pointer;
  border-radius: 5px;
}

.toggle,
.copy {
  color: var(--clr-light);
}

.mode-toggler,
.copy-color {
  background-color: var(--bg-btn-light);
}

main,
.color-container {
  height: 100vh;
}

.color-container > .color {
  height: 18%;
}

.color {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 2rem;
}

.color-1 {
  background-color: red;
}

.color-2 {
  background-color: orange;
}

.color-3 {
  background-color: aquamarine;
}

.color-4 {
  background-color: purple;
}

.color-5 {
  background-color: green;
}

.scheme-select {
  border: 1px solid var(--border-light);
  background-color: var(--bg-body-light);
}

.copy-color {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  font-size: 1.4rem;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
}

.mode-toggler {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 4rem;
  height: 4rem;
  font-size: 2.25rem;
  border-radius: 50px;
  border: none;
}

.copy {
  font-size: 1.8rem;
}
