:root {
  --background: #fff;
  --text: #2b283a;
  --scheme-color-text: #111827;
  --get-color-text: #374151;
  --border: #d1d5db;
}

/* Dark mode */
:root.dark-mode {
  --background: #1f293a;
  --text: #e2e8f0;
  --scheme-color-text: #cbd5e0;
  --get-color-text: #a0aec0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  position: relative;
}

header {
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--background);
}

button,
input[type="color"] {
  cursor: pointer;
  border-radius: 5px;
}

button,
select {
  border-radius: 6px;
}

main,
.color-container {
  height: 100vh;
}

.color-container > .color {
  height: 18%;
}

.color {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 2rem;
}

.copy-color {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.color-1 {
  background-color: red;
}

.color-2 {
  background-color: orange;
}

.color-3 {
  background-color: aquamarine;
}

.color-4 {
  background-color: purple;
}

.color-5 {
  background-color: green;
}

.select-scheme,
.create-scheme {
  border: 1px solid var(--border);
}

.create-scheme {
}

.select-scheme {
  padding: 0.5rem 1rem;
  background-color: var(--background);
}

.copy-color {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  font-size: 1.4rem;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--text);
}

.mode-toggler {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 4rem;
  height: 4rem;
  font-size: 2.25rem;
  border-radius: 50px;
  border: none;
  background-color: var(--background);
  color: var(--text);
}

.copy {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  header {
    height: 10%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
  }

  .color-container {
    display: flex;
  }

  .color-container > .color {
    flex: 1;
    height: 100vh;
  }

  .color {
    flex-direction: row;
    justify-content: center;
    align-items: end;
    padding-bottom: 3rem;
  }

  .mode-toggler {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    font-size: 2.25rem;
    border-radius: 50px;
    border: none;
    background-color: var(--background);
    color: var(--text);
  }
}
