body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #2b283a;
}

.header {
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.4rem;
  padding: 1.6rem 0;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.logo-title {
  color: #fff;
  font-size: 2.5rem;
}

.entry-container {
  max-width: 120rem;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
  padding: 0 1rem;
}

.entry {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 40rem;
  margin: 0 auto;
}

.entry-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 25rem;
  width: 100%;
}

.entry-content {
  padding: 1rem 1.5rem 3rem 1.5rem;
}

.entry-content-top {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}

.entry-location-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.entry-marker {
  width: 1.25rem;
}

.entry-location {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
}

.entry-map {
  display: inline-block;
  margin-left: auto;
  color: #918e9b;
  font-size: 1.25rem;
}

.entry-title {
  font-size: 2.75rem;
  margin: 1rem 0;
}

.entry-date {
  font-weight: 700;
  margin-bottom: 1rem;
}

.entry-description {
  text-align: justify;
}
