/* =================
   Root Variables
   ================= */
:root {
  --bg-body: #1c1c1c;

  --btn-bg-color-1: #10b981;
  --btn-bg-color-1-darker: #047857;
  --btn-bg-color-2: #273549;
  --btn-bg-color-2-darker: #1b2533;

  --btn-text-color: #10b981;
  --password-color: #5def92;

  --heading-color-dark-1: #ffffff;
  --heading-color-dark-2: #4adf86;

  --heading-color-light-1: #2b283a;
  --heading-color-light-2: #10b981;

  --bg-container-dark: #1f2937;
  --bg-container-light: #ecfdf5;

  --text-color-dark: #d5d4d8;
  --text-color-light: #6b7280;

  --divider-dark: #2f3e53;
  --divider-light: #d5d4d8;
}

/* =================
   Base Styles
   ================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-body);
  font-family: "Karla", serif;
  width: 100vw;
  height: 100vh;
  font-size: 1.125rem;
  padding: 0.75em;
}

p,
button {
  font-family: "Inter", serif;
}

/* =================
   PW Generator App
   ================= */

.heading {
  color: var(--heading-color-light-1);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.3125em;
  line-height: 1;
}

.heading span {
  color: var(--heading-color-light-2);
  font-size: 1.75rem;
}

.description {
  margin-bottom: 1em;
  color: var(--text-color-light);
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generator-container {
  background-color: var(--bg-container-light);
  padding: 1em;
  text-align: center;
  border-radius: 6px;
}

.icon {
  font-size: 1.75rem;
  background-color: var(--bg-container-light);
  border-radius: 50%;
  padding: 0.25em;
}

.btn-container {
  margin-top: 1em;
  border-top: 1px solid var(--divider-dark);
  padding-top: 1em;
  position: relative;
}

.btn {
  width: 100%;
  border-radius: 6px;
  border: none;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.btn-small {
  padding: 0.25em 0;
}
.btn-large {
  padding: 1em 0;
}

.btn-setter {
  background-color: var(--btn-bg-color-2);
  color: var(--btn-text-color);
  font-size: 1.5rem;
}

.btn-setter:hover {
  background-color: var(--btn-bg-color-1);
  color: #fff;
}

.btn-generate {
  background-color: var(--btn-bg-color-1);
  color: #fff;
}

.btn-generate:hover {
  background-color: var(--btn-bg-color-1-darker);
}

.btn-pw {
  background-color: var(--btn-bg-color-2);
  color: var(--password-color);
  margin-bottom: 0.5em;
  min-height: 52px;
  position: relative;
}

.btn-pw:hover {
  background-color: var(--btn-bg-color-2-darker);
}

.copy-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  color: white;
  padding: 0.95em 0;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 2px;
  color: inherit;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn-pw.copied .copy-msg {
  opacity: 1;
}

/* =================
   Settings
   ================= */

.pw-length-text {
  font-weight: 600;
}

.pw-length-setter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.75em 0 0 0;
  text-align: center;
}

.pw-length-setter > * {
  flex: 0 2em;
}

.checkbox-container {
  padding: 1em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

label {
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.25em;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  accent-color: var(--btn-bg-color-1); /* Modern böngészőkben működik */
}

/* Check out the link for checkbox styling 
https://moderncss.dev/pure-css-custom-checkbox-style/ */

/* =================
   Media Queries
   ================= */

@media (min-width: 768px) {
  .generator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 3.25em;
    width: 550px;
    height: 550px;
  }

  .heading {
    font-size: 2.5rem;
  }

  .heading span {
    color: var(--heading-color-light-2);
    font-size: 2.5rem;
    display: block;
  }

  .settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
  }

  .checkbox-container {
    flex-direction: column;
    align-items: stretch;
    gap: 1.25em;
  }
}
